<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <ul>
        <li><a href={{url_for('index')}}>Home</a></li>
        <li><a href={{url_for('blog')}}>Blog</a></li>
    </ul>

    <h1>Bence Danko</h1>
    <p>
    Trying out new things
    </p>

    <p> 
    I am currently running on the Azure webapp service.
    </p>

    <details>
        <summary>
            About Me
        </summary>

        <p>
            On my way to becoming a developer.
        </p>

    </details>

</html>