{% extends "base.html" %}
{% block content %}

<div id="posts">
    {% for post in posts %}

    <div class="post">
        <details>

            <summary>
                {{ post['title'] }} 
                <mark><em>{{ post['date'] }}</em></mark> 

            </summary>
            
            {{ post['content'] | safe}}

        </details>
        {% endfor %}
    </div>
</div>

<!-- 
<div class = 'wrapper' >
    <div class = 'sidebar'>
        <h2>Categories</h2>
        <ul>
            
            {% for category in categories %}
            <li><a href={{url_for('category', category=category)}}>{{category}}</a></li>
            {% endfor %}
            

            <li>Anything</li>
        </ul>
    </div>
</div>
-->

{% endblock %}